@light-background: rgb(245, 245, 245);
@light-gray: rgb(220, 220, 210);

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'RobotoRegular';
}

header img {
  max-width: 50px;
  max-height: 50px;
}

.lobster {
  font-family: 'LobsterRegular';
  font-size: 1.5em;
}

h1, h2, h3, h4 {
  font-family: 'SourceSansProRegular';
  font-weight: 400;
}

p.hint {
  @blue: rgb(0, 163, 255);
  border-left: 5px solid @blue;
  background: lighten(@blue, 30%);
  padding: 15px;
  margin: 30px 0px;
}

div.presenter {
  text-align: center;
  padding: 10%;
  background: linear-gradient(to top left, #1A2980 , #26D0CE);
  color: white;

  img {
    max-width: 30%;
    max-height: 30%;
  }
}

footer {
  background: @light-background;
  padding: 50px 20%;
  text-align: center;
  border-top: 1px solid @light-gray;
}

.links {
  list-style: none;
  text-align: center;
  padding: 20px;
  margin: 0px;
  background: @light-background;

  li {
    display: inline;
    padding: 10px;
    margin: 10px;
    transition: 0.3s all ease-in;
    border-radius: 5px;

    &:hover {
      background: rgb(227, 227, 227);
    }

    a {
      text-decoration: none;
      color: rgb(92, 92, 92);
    }
  }
}

ul {
  padding-left: 0px;
  li.card {
    list-style: none;
    background: @light-background;
    padding: 10px 30px;
    margin: 10px;
    .border();
    h3 {
      font-weight: 600;
    }
  }
}

main {
  padding: 50px 20%;
}

pre code {
  .border();
}

.border {
  border: 1px solid @light-gray;
  border-radius: 3px;
}
