doctype
html
  head
    title #{title}
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/xcode.css")
    link(rel="icon" href="img/poulp.svg")
    link(rel="stylesheet" media="screen" href="https://fontlibrary.org/face/lobster" type="text/css")
    link(rel="stylesheet" media="screen" href="https://fontlibrary.org/face/source-sans-pro" type="text/css")
    link(rel="stylesheet" media="screen" href="https://fontlibrary.org/face/roboto" type="text/css")
  body
    != yield
    footer
      | This website is under the LGPL-3.0 license.
      | &mdash; 
      a(href="https://framagit.org/poulp/poulp.frama.io") Source Code of the website.
    script(src="js/highlight.pack.js")
    script hljs.initHighlightingOnLoad();
