div.presenter
  img(alt="Poulp logo" src="img/poulp.svg")
  h1 <span class="lobster">Poulp</span>, the Vala project and packages manager

ul.links
  li
    a(href="#commands") Overview
  li
    a(href="https://framagit.org/poulp/poulp") Source Code
  li
    a(href="/plugins.html") Create plugins
  li
    a(href="#install") Installation

main

  p 
    | Poulp is a tool, or a set of tools, created to help you writing great softwares in Vala.
    | It will help you building your projects, installing librairies, linting your code and much more.
  p
    | Our goal is to provide a simple command line tool to manage your project and its dependencies.
    | To achieve that, every project contains a <code>poulp.toml</code> file, describing your application
    | or library.
  p.hint
    | If you don't know what is TOML, you can read <a href="https://github.com/toml-lang/toml">the specification</a>. But it is really easy to read, so
    | maybe it's not even necessary.

  h2 Complete manifest
  p Here is an example of a complete <code>poulp.toml</code>.
  pre
    code(class="toml").
      # First we define the valac version(s) targeted
      vala-version = ">=0.20.1"
      
      # Basic informations about our app
      name = "my-app"
      description = "A cool application"
      
      # Use semantic versionning
      version = "0.1.0"
      
      # To help find your project
      keywords = [ "website", "valse", "cool" ]
      license = "LGPL-3.0"
      
      homepage = "https://jean.dupont.fr/myapp.html"
      repository = "https://git.dupont.fr/my-app.git"
      
      # Where to report bugs
      bugs = {
        email = "jean@dupont.fr",
        url = "git.dupont.fr/jean/my-app/issues"
      }
      
      # Dev team members informations.
      authors = [
        "Jean Dupont &lt;jean@dupont.fr&gt;",
        "John Doe &lt;john.doe@anon.im&gt;"
      ]
      
      # The files to compile, supports wildcard (*).
      files = [
        "*.vala",
        "models/*.vala",
        "*.gs",
        "*.c"
      ]
      
      # VAPIs directory.
      vapi-dir = "src/vapis/"
      
      # Custom output path, if not specified defaults to `build/$(app-name)`.
      output = "custom-build-path/my-app"
      
      # Other arguments to give to valac.
      compilerParams = [
        "-o", "$(POULP_NAME)-$(POULP_VERSION)"
      ]
      
      # If true, we add flags to compile as a library
      library = false
      
      # Poulp has support for npm-like scripts.
      [scripts]
      test = [ "poulp build", "./$(POULP_BUILD_OUPUT)" ]
      
      [dependencies]
      gio-2.0 = "*"
      valse = "^0.1.2"
      
      [dev-dependencies]
      valadate = "^0.1.0"
      
      # You can toggle some features/options of the compiler
      [features]
      c-warnings = false
      vapi-comments = true
  p
    | If you want to learn more about all this options, check out the 
    a(href="https://framagit.org/poulp/poulp/blob/develop/SPEC.md#poulptoml") documentation on Framagit.

  h2(id="commands") Available commands
  
  ul
    li.card
      h3 build
      p Builds your project using the options defined in the manifest.
    li.card
      h3 gen
      p Scaffolds a file following a template. Templates can be installed by packages.
    li.card
      h3 help
      p Just displays help about other commands.
    li.card
      h3 init
      p Initialize a new project. You can eventually use a template (which can be installed by packages too).
    li.card
      h3 install
      p Installs a specific package or all the dependencies of the project.
    li.card
      h3 lint
      p Lints your source code following elementary OS's or GNOME's conventions.
    li.card
      h3 pack
      p Create a <code>.zip</code> bundle of your project which can be deflated and then easily installed thanks to a script.
    li.card
      h3 publish
      p Publishes a new version of your library.
    li.card
      h3 repo
      p Manages remote packages repositories
    li.card
      h3 run
      p Run one of the script of your manifest.
    li.card
      h3 update
      p Updates your packages.
  
  p.hint You can install additional commands as any other package with <code>poulp install</code>.

  h2(id="install") Convinced?
  p Just install it <em>via</em> Flatpak:
  pre
    code(class="bash") echo "See issue #40 on Framagit"
    
  h2 FAQ
  h3 How to host a remote repository?
  p
    | We are working on a web app to manage a repository with a nice UI. But hosting a repository is really easy.
    | You just have to create a <code>packages.json</code> file. Then list your packages like
    | <a href="https://gitlab.com/Bat41/poulp-repo-test/blob/master/dist/packages.json">in this example</a>

  h3 Why not use waf, meson, CMake & Co?
  p
    | Poulp is not just a build tool. It also manages your dependencies and let you publish your projects. 
    | And even the <code>build</code> command is designed specially for Vala and not as a general build tool,
    | so it fits the developers needs better.
